@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* -------------- */
    /* Layout  */
    /* -------------- */
    --container-width: 93.75rem; /* 1500px */
    --container-padding-x: clamp(
      1.125rem,
      5vw,
      4.75rem
    ); /* 18px | 5vw | 76px */

    --container-padding-y: clamp(
      1.75rem,
      5vw,
      6.25rem
    ); /* 28px | 5vw | 100px */
    --nav-item-height: 62px;

    /* -------------- */
    /* Typography     */
    /* -------------- */

    --font-size-3xl: clamp(1.75rem, 2vw + 1.25rem, 2.5rem); /* 28 - 40 */

    /* -------------- */
    /* Color Palette  */
    /* -------------- */
    --color-white: 0deg 0% 100%;

    --color-stone-800: 40deg 8% 10%;
    --color-stone-700: 40deg 8% 17%;
    --color-stone-600: 40deg 10% 31%;
    --color-stone-500: 40deg 18% 68%;
    --color-stone-400: 40deg 27% 80%;
    --color-stone-300: 40deg 21% 86%;
    --color-stone-200: 40deg 18% 91%;
    --color-stone-100: 40deg 16% 94%;

    --color-peach-100: 32deg 87% 81%;
    --color-peach-400: 32deg 89% 66%;
    --color-peach-800: 32deg 85% 50%;

    --color-plum-100: 286deg 23% 33%;
    --color-plum-400: 286deg 24% 24%;
    --color-plum-800: 286deg 19% 14%;

    --color-moss-100: 77deg 20% 28%;
    --color-moss-400: 77deg 32% 19%;
    --color-moss-800: 77deg 32% 14%;

    --color-marine-100: 220deg 69% 57%;
    --color-marine-400: 220deg 74% 49%;
    --color-marine-800: 220deg 64% 19%;
  }

  /* -------------- */
  /* A11y           */
  /* -------------- */

  /* Custom Outlines */
  *:focus {
    @apply focus:outline-offset-4 focus:outline-primary-dark;
  }

  /* -------------- */
  /* Misc.         */
  /* -------------- */

  /* Custom Grain Effect */
  .bg-grain {
    background-image: url("assets/images/grain.png");
    background-blend-mode: color-dodge;
  }

  /* ------------------ */
  /* Inputs             */
  /* ------------------ */

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    background-color: var(--page);
    color: var(--body);
    @apply rounded-lg border-2 border-border bg-page px-4 py-3.5 text-body focus:border-primary-dark focus:!outline-none focus:ring-0;
  }

  textarea {
    @apply min-h-14;
  }

  input::placeholder {
    @apply font-mono text-base text-muted opacity-70;
  }

  /* -------------- */
  /* Buttons        */
  /* -------------- */

  .btn {
    @apply inline-flex items-center gap-1 rounded-lg px-6 py-5 font-exteded leading-none outline-offset-2 transition-colors duration-200;
  }

  /* triangle */
  .btn::after {
    content: "";
    border-bottom: 8px solid currentColor;
    border-left: 8px solid transparent;
    @apply block size-0 -rotate-45 opacity-50 transition-opacity duration-200;
  }

  .btn:hover::after {
    @apply opacity-100;
  }

  .btn-primary {
    @apply bg-primary text-body hover:bg-primary-dark focus:bg-primary-dark;
  }
}

/* ----------------------- */
/*  Light Theme (Default)  */
/* ----------------------- */

:root,
html[data-theme="light"] {
  /* Page Backgrounds */
  --color-page: var(--color-stone-100);
  --color-page-offset: var(--color-stone-200);

  /* Border */
  --color-border: var(--color-stone-400);

  /* Body Text */
  --color-body: var(--color-stone-800);

  /* Muted Text */
  --color-muted: var(--color-stone-600);

  /* Primary Color */
  --color-primary: var(--color-peach-400);
  --color-primary-dark: var(--color-peach-800);
}

/* ----------------------- */
/*  Dark                   */
/* ----------------------- */

/* html[data-theme="dark"] {
  --color-page: var(--color-stone-800);
  --color-page-offset: var(--color-stone-800);

  --color-border: var(--color-stone-700);

  --color-body: var(--color-white);

  --color-muted: var(--color-stone-300);

  --color-primary: var(--color-peach-400);
  --color-primary-dark: var(--color-peach-800);
} */
