<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />

    {# CSS #}
    <link rel="stylesheet" href="/{{ hash['css/styles.css'] }}" />

    {# JS #}
    <script defer src="/{{ hash['js/scripts.js'] }}"></script>
    {% block head %}{% endblock %}

    {# SEO #}
    {% seo "" %}

    {# Favicons #}
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
    <link rel="alternate icon" href="favicon.ico">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#EBAD73">

    {# Webfont Preload #}
    <link
      rel="preload"
      href="/assets/fonts/skillet-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    {# Touch Icon #}
    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">

    {# Apple App Title #}
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
  </head>

  <body class="antialiased bg-page text-body">
    {% block content %} {{ content | safe }} {% endblock %}

    {% if myProject.environment == "production" %}
      <script defer data-domain="post-stroke.org" src="https://plausible.io/js/plausible.js"></script>
    {% endif %}
  </body>
</html>
