@tailwind base;
@tailwind components;
/* Write your styles below this line. */

:root {
  /* Layout */
  --container-padding: 4vw;

  /* Breakpoint Overrides */
  @screen xl {
    --container-padding: 70px;
  }

  /* Grayscale */
  --black: hsl(40, 4%, 8%);
  --gray-900: hsl(40, 6%, 10%);
  --gray-800: hsl(40, 4%, 18%);
  --gray-700: hsl(40, 2%, 30%);
  --gray-600: hsl(40, 2%, 44%);
  --gray-500: hsl(40, 4%, 76%);
  --gray-400: hsl(40, 12%, 85%);
  --gray-300: hsl(40, 18%, 90%);
  --gray-200: hsl(40, 20%, 94%);
  --gray-100: hsl(40, 20%, 96%);
  --white: hsl(0, 0%, 100%);

  /* Colors */
  --ficus-dark: hsl(116, 20%, 18%);
  --ficus: hsl(116, 20%, 28%);
  --ficus-light: hsl(116, 15%, 60%);

  /* Light Theme */
  --page: var(--white);
  --page-offset: var(--gray-100);

  --body: var(--black);
  --body-offset: var(--gray-700);
  --body-muted: var(--gray-600);
  --border: var(--gray-400);

  --primary: var(--ficus);
  --primary-offset: var(--ficus-dark);
  --primary-underline: var(--ficus-light);
  --primary-underline-offset: var(--ficus-dark);
  --primary-reverse: var(--white);

  /* Dark Theme */
  @media (prefers-color-scheme: dark) {
  }
}

@font-face {
  font-family: "Skillet Regular";
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  size-adjust: 150%;
  src: local("Skillet Regular"),
    url("../assets/fonts/skillet-regular.woff2") format("woff2"),
    /* will be preloaded */ url("../assets/fonts/skillet-regular.woff")
      format("woff");
  font-display: swap;
}

.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: -0.145em;
}

.stretched-link::after {
  content: "";
  @apply pointer-events-auto absolute inset-0 z-10;
}

/* -------------- */
/* Buttons        */
/* -------------- */

.btn {
  @apply font-serif inline-block rounded-lg py-2 px-3.5 transition-colors duration-200 focus:outline-none focus:ring focus:ring-offset-2;
}

.btn-primary {
  @apply bg-primary text-primary-reverse hover:bg-primary-offset focus:bg-primary-offset focus:ring-primary-underline;
}

/* ------------------ */
/* Inputs             */
/* ------------------ */

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  background-color: var(--page);
  color: var(--body);
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='hsl(225, 15%, 48%)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

input::placeholder {
  @apply text-body-muted font-sans;
}

lite-youtube {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  max-width: 720px;
}

lite-youtube::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
  display: block;
  width: 68px;
  height: 48px;
  position: absolute;
  cursor: pointer;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: transparent;
  /* YT's actual play button svg */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
  filter: grayscale(119%) opacity(0.8) contrast(250%);
  transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
  border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
  filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
  cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

.lyt-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Write your styles above this line. */
@tailwind utilities;
