---
import Layout from "../layouts/Layout.astro";
import HeadingGroup from "../components/HeadingGroup.astro";
---

<Layout title="About Us">
  <main class="container flex-1 py-[--container-padding-y]">
    <HeadingGroup
      heading="Our Founder"
      subheading="A Certified Stroke Rehab Specialist on a Mission"
    />
  </main>
</Layout>
