---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HeadingGroup from "../components/HeadingGroup.astro";
---

<Layout title="About Us">
  <main class="flex-1">
    <Hero class="bg-marine-800">
      We’re<br />
      Mission<br />
      Driven
    </Hero>

    <div class="container py-[--container-padding-y]">
      <HeadingGroup
        class="mb-7"
        heading="Our Founder"
        subheading="A Certified Stroke Rehab Specialist on a Mission"
      />

      <div class="max-w-[36rem] text-lg text-body *:mb-[1.3em]">
        <p>
          Hi, I’m Elyse Newland, an Occupational Therapist and Certified Stroke
          Rehab Specialist.
        </p>

        <p>
          When I started my Doctorate in Occupational Therapy program in 2014, I
          didn’t think I’d ever found and direct a nonprofit. However, when my
          grandmother had a stroke in 2019, my perspective on healthcare
          completely changed. Although I had been practicing for a few years as
          a travel therapist, I hadn’t experienced the other side of rehab as a
          patient. My grandmother’s stroke was extremely traumatic for her and
          our family, and didn’t feel like she received the care she deserved.
        </p>

        <p>
          I jumped into online stroke survivor and caregiver communities and
          quickly learned that our experience was, unfortunately, not unique. It
          was practically the default. Stroke survivors and their families
          deserve better.
        </p>

        <p>
          Then 2020 happened. Like many of us, I found myself rethinking what I
          wanted to do with my life and how I could use my skills for good.
        </p>

        <p>
          My goals were to find a way to reach more than one person at a time,
          keep our education free, ensure our content was evidence-based, and
          package it into the highest quality stroke recovery education on the
          web that ordinary folks could understand.
        </p>

        <p>This exploration led to the creation of Post Stroke.</p>

        <p>
          We decided to do things differently. Instead of wasting time and money
          trying to get survivors to come to yet another non-profit online
          portal, we go where they already are: on hugely popular platforms
          everyone already uses (YouTube, Instagram, and TikTok). We also ensure
          that our recovery education doesn’t live behind a paywall to keep it
          accessible for every survivor who wants to access it.
        </p>
        <p>
          I'm proud of what we've accomplished so far and look forward to
          reaching even more stroke survivors around the globe!
        </p>
      </div>
    </div>
  </main>
</Layout>
