---
import Layout from "../layouts/Layout.astro";
import HeadingGroup from "../components/HeadingGroup.astro";
---

<Layout title="Contact">
  <main class="container flex-1 py-[--container-padding-y]">
    <HeadingGroup
      heading="Contact Us"
      subheading="We Love Hearing from Folks"
    />
  </main>
</Layout>
