---
import Layout from "../layouts/Layout.astro";
import HeadingGroup from "../components/HeadingGroup.astro";
---

<Layout title="Medical Disclaimer">
  <main class="container flex-1 py-[--container-padding-y]">
    <HeadingGroup class="mb-6" heading="Medical Disclaimer" body="" />

    <p class="max-w-[35rem]">
      All content on this website and across our social media is for general
      informational purposes only. It is not intended to serve as a substitute
      for medical advice or treatment from a physician or qualified healthcare
      provider. Talk to your doctor before starting a new exercise or therapy
      regimen.
    </p>
  </main>
</Layout>
