---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HeadingGroup from "../components/HeadingGroup.astro";
import MiniDonationBar from "../components/MiniDonationBar.astro";
---

<Layout title="Donate to Our Cause">
  <main class="flex-1">
    <Hero class="bg-moss-400">
      Support<br />
      Recovery<br />
      Eduction
    </Hero>

    <section
      class="container grid gap-x-[--container-padding-x] overflow-hidden text-pretty py-[--container-padding-y] text-lg *:mb-[1.3em] xl:grid-cols-[min(50%,37.5rem),1fr] xl:grid-rows-[repeat(6,auto)]">
      <HeadingGroup
        class="mb-7"
        heading="Make a Donation"
        subheading="Help Fund Free Quality Recovery Education For All"
      />

      <p>
        Like many nonprofits, we depend on donations to fund our mission. What
        sets us apart is what we <em>don’t</em> do. We don’t have a large staff,
        or squander money on charity dinners, golf tournaments, or other vanity projects.
        Instead, we operate Post Stroke from our homes, ensuring every dollar you
        donate goes directly toward creating high-quality, easy-to-understand, evidence-based
        stroke recovery education.
      </p>

      <p>
        Also, unlike other organizations, we don’t expect stroke survivors to
        come to us. We distribute our education for free on popular social media
        where millions of stroke survivors are already active. This approach
        allows us to connect with and help more survivors globally.
      </p>
      <div class="mb-20 justify-self-center xl:col-start-2 xl:row-span-full">
        <div class="relative -z-10 inline-block">
          <img
            class="relative z-10 w-full max-w-[60vw] rounded-t-full md:max-w-[40vw] xl:max-w-[28.125rem]"
            src="/assets/images/elyse-newland-stretching-legs.jpg"
            srcset="/assets/images/elyse-newland-stretching-legs.jpg,
                    /assets/images/elyse-newland-stretching-legs@2x.jpg 2x"
            alt="Elyse Newland sitting on a therapy bench reaching for her left toe"
            width="450"
            height="600"
            loading="lazy"
          />
          <!-- Circle -->
          <div
            class="bg-grain absolute -right-[20%] top-[68%] z-10 aspect-square h-auto w-1/2 max-w-[16.875rem] rounded-full border-2 border-plum-100 xl:top-[65%] xl:w-2/3">
          </div>

          <div
            class="absolute -right-[20%] top-[68%] z-0 aspect-square h-auto w-1/2 max-w-[16.875rem] rounded-full bg-plum-100 xl:top-[65%] xl:w-2/3">
          </div>
        </div>
      </div>

      <p>
        Your support enables us to invest in essential equipment, software, and
        to compensate the dedicated experts who make our education possible.
      </p>

      <p>
        Help us continue our important work. With your support, we can make a
        lasting impact on the lives of stroke survivors worldwide.
      </p>
    </section>

    <MiniDonationBar />
  </main>
</Layout>

<style></style>
