---
import Layout from "../layouts/Layout.astro";
import HeadingGroup from "../components/HeadingGroup.astro";
---

<Layout title="Donate to Our Cause">
  <main class="container flex-1 py-[--container-padding-y]">
    <HeadingGroup
      heading="Make a Donation"
      subheading="Help Fund Free Quality Recovery Eduction for All"
    />
  </main>
</Layout>
