---
import Layout from "../layouts/Layout.astro";
import HeadingGroup from "../components/HeadingGroup.astro";
---

<Layout title="Home">
  <main class="container flex-1 py-[--container-padding-y]">
    <HeadingGroup
      heading="We Need Your Help"
      subheading="Raising Funds to Reach More Survivors"
    />
  </main>
</Layout>
