---
const { class: className, heading, subheading, body } = Astro.props;
---

<hgroup
  class={className +
    " flex flex-col gap-2 after:w-24 after:h-0.5 after:bg-primary-dark after:mt-3 after:rounded-sm"}>
  <h1 class="font-exteded text-3xl tracking-tight">
    {heading}
  </h1>

  {
    subheading && (
      <h2 class="font-mono text-lg tracking-tighter text-muted">
        {subheading}
      </h2>
    )
  }

  {body && <p class="text-lg">{body}</p>}
</hgroup>
